.App {
  /* text-align: center; */
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-card {
  max-width: 600px;
    margin: 5%;
}

.form-card .ant-card, .ant-card {
  margin-bottom: 15px;
}

.loading-data {
  width: 500px;
  margin: 0px auto;
  margin-top: 15%;
  text-align: center;
}

.loading-icon {
  font-size: 100px;
}
